<h1>Eat-Da-Burger!</h1>

<h2>Burgers to be eaten!</h2>


  {{#each burgers}}
    {{#if devoured}}
    {{else}}
    <p> {{name}} 
        <button info="{{id}}" class="devour">Devour</button>
    </p>
    {{/if}}
  {{/each}}


<h2>Burgers that have been devoured!</h2>

  {{#each burgers}}
    {{#if devoured}}
     <p>{{name}}</p>
    {{/if}}
  {{/each}}


<h2>Order a Burger</h2>

<form class="create-form">
    <input type="text" id="ca"> 
    <button type="submit">Add Burger</button>
</form>

<script>

  $(".create-form").on("submit", function(event){
    event.preventDefault()
    var burgerName = $("#ca").val()
    console.log(burgerName)
    $.post("/add",{name:burgerName},function(data){
      console.log(data)
      location.reload()
    })
  })

$(".devour").on("click", function() {
  var id = $(this).attr("info")
  

  $.ajax("devour/" + id, {
    type:"PATCH"
  }).then(function(data){
    console.log(data)
    location.reload()
  })
})


</script>